@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
  font-family: ;
}

header h1 {
  background-color: #c4c4c4;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: #005677;
}

h2 {
  background-color: #c4c4c4;
  width: 100%;
  color: #005677;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
}

li strong {
  font-style: italic;
}

article {
  margin: 25px;
  padding-left: 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

section div{
  /*border: 1px solid #000000;*/
  display: flex;
  padding-left: 25px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #005677;
  color: white;
  padding: 10px;
  padding-bottom: 20px;
}
