
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Restablecienod todos lso valore spor defecto*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header .container{
    display: flex;
    flex-flow: row wrap;
    padding: 15px 13%;
    align-items: center;
    justify-content: space-between;
}

i {
    font-size: 35px;
}

.nav{
    /* position: absolute; */
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/*Pseudo selectores*/
/* Resaltar menus en rojo y negritas*/
.nav__item:hover a{
    color: red;
    font-weight: bold;
    text-decoration: underline;

}