*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.dsc{
    background-color: #1CD1B0;
    padding: 10px 27px;
    font-size: 15px;
    line-height: 17.58px;
    font-weight: 400;
}

.heroes{
    background-color: #00669F;
    font-size: 40px;
    font-weight: 400;
    line-height: 46.88px;
    padding: 28px 0px 26px 28px;
    box-shadow: 0px 10px 7px 0px #00000040;
}

.cards-container{
    display: flex;
    flex-flow: row nowrap;
    margin:auto;
    width: 100%;
    justify-content: space-evenly;
    padding: 150px 0px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 529px;
    text-align: center;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.profile{
    position: absolute;
    top: 120px;
    left: calc(150px - 64px);
}

.card > .card-content {
    max-width: calc(100% - 20px);
    width: 100%;
    margin: auto;
}

.card > .card-content > button {
    color:white;
    background-color: #00669F;
    border:none;
    padding: 15px 37px;
}

.card > .card-content > h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.card > .card-content > p {
    font-size: 16px;
    text-align: start;
    margin-bottom: 37px;
}

footer{
    background-color: #00669F;
    color:white;
    padding: 16px;
}